<a href="https://colab.research.google.com/github/majorquev/DBDC_202304_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.
 
Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log() 
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp() 
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [ ]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.

[1] 3

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character 
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [2]:
# Podemos definir distintas variables
a <- 10
b <- 8.5

In [3]:
c = 14

In [5]:
((1+5)*9)/7 -> resultado

In [6]:
resultado

[1] 7.714286

In [4]:
a+c

[1] 24

In [8]:
# strings(character)
fr1 <- "Hola soy miguel"
paste(fr1,"su profesor")

[1] "Hola soy miguel su profesor"

In [11]:
paste0(fr1,"su profesor")

[1] "Hola soy miguelsu profesor"

In [12]:
paste(fr1,"su profesor", sep = "")

[1] "Hola soy miguelsu profesor"

In [9]:
?paste

In [10]:
paste(fr1,"su profesor", sep = "-")

[1] "Hola soy miguel-su profesor"

In [14]:
# valores lógicos (logical)
TRUE #T es lo mismo
FALSE # F es lo mismo

[1] TRUE

[1] FALSE

In [16]:
verdad <- T
falso <- F

In [17]:
# conector lógicos ( & es el "y", | es el "o", ! corresponde a la negación )
verdad & falso #conjunción "y"
verdad | falso #disyunción "o"

[1] FALSE

[1] TRUE

In [19]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
1+1 == 3
sqrt(4) == 2

[1] FALSE

[1] TRUE

In [21]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3!=3
2!=-1

[1] FALSE

[1] TRUE

In [24]:
# podemos realizar comparaciones aritméticas
18 > 12
12 <= 12
-1 > 5

[1] TRUE

[1] TRUE

[1] FALSE

In [35]:
# NOTA:valor infinito
1000000000000000000000000000000000000000000 > Inf
1/Inf

0*Inf
1/0
0/0

[1] FALSE

[1] 0

[1] NaN

[1] Inf

[1] NaN

In [30]:
aux <- NA
aux2 <- NaN
aux3 <- NULL

In [33]:
aux
aux2
aux3

[1] NA

[1] NaN

NULL

In [41]:
# date

# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(a)
typeof(a)

class(aux)
typeof(aux)

class(verdad)
typeof(verdad)

# coercionamos a clase date

[1] "numeric"

[1] "double"

[1] "logical"

[1] "logical"

[1] "logical"

[1] "logical"

In [43]:
# Observación: Inmutabilidad de variables en R.
x <- 10
y <- x

In [44]:
x <- 11

In [45]:
# ¿Qué valor tiene y?
y
# en R las asignaciones por defecto se realizan por valor y no por referencia.

[1] 10

In [46]:
y <- x
y

[1] 11

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [48]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

 [1] "a"         "aux"       "aux2"      "aux3"      "b"         "c"
 [7] "falso"     "fr1"       "resultado" "verdad"    "x"         "y"

In [47]:
a

[1] 10

In [49]:
# remueva algunas de las variables generadas anteriormente
rm(a)

In [50]:
a

ERROR: ignored

In [51]:
ls()

 [1] "aux"       "aux2"      "aux3"      "b"         "c"         "falso"
 [7] "fr1"       "resultado" "verdad"    "x"         "y"

In [52]:
?rm

In [53]:
#Si quiero borrar a  y b del ambiente
rm(list = c("aux","b"))

In [54]:
ls()

[1] "aux2"      "aux3"      "c"         "falso"     "fr1"       "resultado"
[7] "verdad"    "x"         "y"

In [55]:
gc()# Free unused R memory

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  680054 36.4 1362280    72.8 1362280  72.8
Vcells 1267916  9.7 8388608    64.0 1986518  15.2

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [ ]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
#Todo NaN es NA, pero no al revés
#NA : Not Available
#NaN: Not a Number

In [57]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
v1 <- NA
v2 <- "RM"

In [58]:
v2 == "RM"

[1] TRUE

In [59]:
v2 == NA

[1] NA

In [60]:
v1 == NA

[1] NA

In [61]:
NA == NA

[1] NA

In [68]:
is.na(v2)
is.na(v1)
is.na(NA)
is.na(NaN)

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

In [74]:
# Y si queremos preguntar si es "no nulo"?
!is.na(v1)

[1] FALSE

In [67]:
is.nan(NaN)
is.nan(NA)

[1] TRUE

[1] FALSE

In [ ]:
is.null(NULL)

In [70]:
is.null(NULL)

[1] TRUE

In [71]:
# NULL es la designación del vacío. No es un tipo de dato. Literal es "nada"
resultado

[1] 7.714286

In [72]:
resultado <- NULL

In [73]:
resultado

NULL